/* General styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #000000; /* Main black background */
}
.cta-button, .service-link, .whatsapp-button, .call-button {
    position: relative;
    z-index: 10;
}
* {
    user-select: auto;
    -webkit-user-select: auto;
    -moz-user-select: auto;
    -ms-user-select: auto;
}

/* Prism-like gradient background */
.prism-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, rgb(0, 0, 0), rgba(135, 8, 8, 0.516), rgba(0, 0, 0, 0.5), rgb(0, 38, 255));
    background-size: 400% 400%; /* Size of the gradient */
    animation: gradientAnimation 15s ease infinite; /* Apply animation */
}

/* Keyframes for the gradient animation */
@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%; /* Start position */
    }
    50% {
        background-position: 100% 50%; /* Mid position */
    }
    100% {
        background-position: 0% 50%; /* End position */
    }
}

.main-content {
    position: relative; /* Ensure content is above the background */
    z-index: 1; /* Bring content above the gradient */
}



/* ----------------- header*/
header {
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 1rem;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    box-sizing: border-box;
    box-shadow: 0 2px 5px rgb(255, 14, 14);
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.site-title {
    margin: 0;
    font-size: 1.5rem;
    font-family: 'Orbitron', 'Arial', sans-serif;
    /* linear-gradient(120deg, #4d0000 0%, #011f52 100%); */
    font-weight: 700;
    background-image: linear-gradient(120deg, #ff0101, #2200ff, #000009);
    background-size: 200% auto;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    animation: textGradient 5s linear infinite;

}

/* Navigation styles */
#menu {
    display: flex;
    align-items: center;
}

.nav-links {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.nav-links li {
    margin-left: 1rem;
}

.nav-links a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #ddd;
}

/* Menu icon */
.menu-icon {
    display: none;
    background: none;
    border: none;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    padding: 0;
    margin-left: 1rem;
}

/* Main content */
main {
    max-width: 1200px;
    margin: 80px auto 0;
    padding: 2rem 1rem;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
    .header-content {
        flex-wrap: nowrap;
    }

    #menu {
        position: relative;
    }

    .nav-links {
        display: none;
        position: absolute;
        top: 100%;
        right: 0;
        background-color: #000000;
        flex-direction: column;
        padding: 1rem;
        box-shadow: 0 2px 5px rgb(255, 14, 14);
        min-width: 200px;
    }

    .nav-links li {
        margin: 0.5rem 0;
        text-align: right;
    }

    .menu-icon {
        display: block;
    }

    .nav-links.show {
        display: flex;
    }
}
/* -------------------------- welcome*/
.welcome-section {
    color: white;
    text-align: center;
    padding: 100px 20px; /* Add padding for spacing */
    position: relative;
}

.welcome-content {
    max-width: 800px; /* Limit width for better readability */
    margin: auto;
}

.welcome-title {
    font-size: 2.5rem; /* Larger font size for the title */
    margin-bottom: 20px; /* Space below the title */
    font-weight: bold; /* Bold title */
}

.welcome-description {
    font-size: 3.2rem; /* Slightly larger description text */
    margin-bottom: 30px; /* Space below the description */
}

.cta-button {
    
    color: white; /* Button text color */
    padding: 15px 30px; /* Padding inside the button */
    border-radius: 5px; /* Rounded corners */
    text-decoration: none; /* Remove underline from link */
    font-weight: bold; /* Bold text for button */
    transition: background-color 0.3s ease, transform 0.3s ease; /* Smooth transitions */
}

.cta-button:hover {
    background-color: #000000; /* Darker shade on hover */
    transform: scale(1.05); /* Slightly enlarge button on hover */
}
/* ------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  #services {
      padding: 2rem 1rem;
      text-align: center;
      background-color: #000000;
      color: #ffffff;
  }
  
  .services-container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 30px;
      width: 100%;
      max-width: 1200px;
      padding: 30px;
      margin: 0 auto;
  }
  
  @media screen and (max-width: 960px) {
      .services-container {
          grid-template-columns: repeat(2, 1fr);
      }
  }
  
  @media screen and (max-width: 768px) {
      .services-container {
          grid-template-columns: 1fr;
      }
  }
  
  .service-box {
      position: relative;
      z-index: 1;
      width: 100%;
      padding-bottom: 150%;
      perspective: 1000px;
  }
  
  .service-cover {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-size: cover; /* Ensures the image covers the entire box */
    background-position: center; /* Centers the image */
    perspective-origin: 50% 50%;
    transform-style: preserve-3d;
    will-change: transform;
    transform: skewX(.001deg);
    transition: transform .35s ease-in-out;
}
  
  .service-cover::after {
      display: block;
      content: '';
      position: absolute;
      z-index: 100;
      top: 0;
      left: 0;
      width: 100%;
      height: 120%;
      background: linear-gradient(226deg, rgba(255,255,255,0.4) 0%, rgba(255,255,255,0.4) 35%, rgba(255,255,255,0.2) 42%, rgba(255,255,255,0) 60%);
      transform: translateY(-20%);
      will-change: transform;
      transition: transform .65s cubic-bezier(0.18, 0.9, 0.58, 1);
  }
  
  .service-box:hover .service-cover {
      transform: rotateX(7deg) translateY(-6px);
  }
  
  .service-box:hover .service-cover::after {
      transform: translateY(0%);
  }
  
  .service-box::before {
      display: block;
      content: '';
      position: absolute;
      top: 5%;
      left: 5%;
      width: 90%;
      height: 90%;
      background: rgba(0, 0, 0, 0.5);
      box-shadow: 0 6px 12px 12px rgba(0, 0, 0, 0.4);
      will-change: opacity;
      transform-origin: top center;
      transform: skewX(.001deg);
      transition: transform .35s ease-in-out, opacity .5s ease-in-out;
  }
  
  .service-box:hover::before {
      opacity: 0.6;
      transform: rotateX(7deg) translateY(-6px) scale(1.05);
  }
  
  .service-content {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 2rem;
      background: rgba(0, 0, 0, 0.7);
      color: white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
  }
  
  .service-link {
      display: inline-block;
      margin-top: 1rem;
      padding: 0.5rem 1rem;
      background-image: linear-gradient(120deg, #4d0000 0%, #011f52 100%);
      color: white;
      text-decoration: none;
      border-radius: 4px;
      transition: background-color 0.3s ease;
      transform: scale(1.05);
  }
  
  .service-link:hover {
      background-color: #0056b3;
      
  }

/* ------------------- about*/
#about {
    padding: 4rem 2rem;
    background-color: #000000;
    color: #ffffff;
}

.about-container {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
}

.about-image-container {
    flex: 1;
    position: relative;
    height: 500px;
    overflow: hidden;
    border-radius: 10px;
}

.about-image {
    width: 100%;
    height: 100%;
    background-image: url('Assets/About/about.jpeg');
    background-size: cover;
    background-position: center;
    transition: transform 0.3s ease;
}

.about-image-container::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: conic-gradient(
        transparent,
        rgba(255, 0, 0, 0.3),
        rgba(0, 0, 255, 0.3),
        transparent 360deg
    );
    animation: rotate 4s linear infinite;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.about-image-container:hover::before {
    opacity: 1;
}

.about-image-container:hover .about-image {
    transform: scale(1.05);
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.about-content {
    flex: 1;
    padding-left: 2rem;
}

.about-content h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.about-content p {
    font-size: 1rem;
    line-height: 1.6;
}

@media screen and (max-width: 768px) {
    .about-container {
        flex-direction: column;
    }

    .about-image-container {
        width: 100%;
        height: 300px;
        margin-bottom: 2rem;
    }

    .about-content {
        padding-left: 0;
    }
}
/* ------------- contact*/
#contact {
    padding: 4rem 2rem;
    background-color: #000000;
    color: #ffffff;
}

.contact-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 2rem auto 0;
}

.location, .contact-methods {
    flex: 1;
    min-width: 300px;
    margin-bottom: 2rem;
}

h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.phone-link {
    color: #ffffff;
    text-decoration: none;
    border-bottom: 1px dotted #ffffff;
}

.contact-buttons {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}

.whatsapp-button, .call-button {
    display: inline-block;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.whatsapp-button {
    background-color: #560000;
    color: #ffffff;
}

.call-button {
    background-color: #002f61;
    color: #ffffff;
}

.whatsapp-button:hover {
    background-color: #128C7E;
}

.call-button:hover {
    background-color: #0056b3;
}

@media (max-width: 768px) {
    .contact-info {
        flex-direction: column;
    }
    
    .location, .contact-methods {
        width: 100%;
    }
}
/* ----------------- footer*/
footer {
    background-color: #000000;
    color: white;
    box-shadow: 0 -2px 5px rgb(255, 14, 14);
    padding: 1rem;
    text-align: center;
    flex-shrink: 0;
}